.content{
    padding-top: 10px;
}
.row{
    display: flex;
    gap: 10px;
}

.row mat-form-field{
    width: 100%;
    height: 50%;
}

.actions{
    padding: 0px 25px 20px;
}
.actions button{
    flex: 1;
}
.form-text-hint{color:#dc3545}