<div mat-dialog-title>
    <h1>{{data ? 'Actualizar': 'Añadir'}} tarea.</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nueva tarea</mat-label>
                <input matInput type="text" placeholder="Ej. Realizar la compra" formControlName = 'title'>
                <mat-hint *ngIf="campoNoValido('title')" class="form-text-hint">Campo obligatorio</mat-hint>
            </mat-form-field>            
        </div>
        
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Guardar'}}</button>
    </div>
</form>

